.largewin { margin-top:0%; margin-right:37%; height:100px; }
.largewin p{box-shadow: 0px 0px 2px 2px #333;
height:80%;
border-radius:5px;
box-sizing:border-box;
-moz-box-sizing:border-box; /* Firefox */
width:80%;
border:0px solid 6C9CF2;
background-origin:content-box;
background-image:url();
text-shadow: -1px 1px #000000;

/* Internet Explorer 10 */
display:-ms-flexbox;
-ms-flex-pack:center;
-ms-flex-align:left;

/* Firefox */
display:-moz-box;
-moz-box-pack:center;
-moz-box-align:left;

/* Safari, Opera, and Chrome */
display:-webkit-box;
-webkit-box-pack:center;
-webkit-box-align:left;

/* W3C */
display:box;
box-pack:center;
box-align:left;}